<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Multiplicadora </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <!-- <div id="container"> -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Multiplicadora</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Numero a multplicar</ion-label>
          <ion-input type="number" #num></ion-input>
        </ion-item>
        <ion-button expand="block" color="success" style="margin-top: 10px;" (click)="getMultiplicationTable(num.value)">Ver Tabla de Multiplicacion</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="multipleArray?.length > 0">
      <ion-card-header>
        <ion-card-title>Tabla</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let multiple of multipleArray">
            <ion-text>{{multiple.i}} * {{multiple.num}} = {{multiple.result}}</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  <!-- </div> -->
</ion-content>